@font-face {
  font-family: "SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Medium-italic";
  src: url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Regular-italic";
  src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
